*{
    margin: 0;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    text-align: center;
    color: black;
  }

.header img{
    width: 100%;
    height: auto;
}

.nadpis {
    position: absolute;
    bottom: 50%;
    left: 25%;    
}

.nadpis p {
    font-size: 2.5vw;
}

.ico {
    position: absolute;
    bottom: 25%;
    left: 25%;   
}

.ico p {
    font-size: 1vw;
    text-align: left;
}

.nadpis_tel {
    position: absolute;
    bottom: 25%;
    right: 25%; 
    text-align: left;
}

.nadpis_tel p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: -5px;
    padding: 0px;
    text-align:center;
    background-color: #333;
    padding: 5px;
}

ul li {
    display: inline-block;
    padding-left: 7px;
}

li a {
    color: #F0EFEC;
    text-decoration: none;
    padding: 5px;
}
 
li a:hover {
    background-color: #F0EFEC;
    color:#333
}



.god {
    margin-top: 1.5vw;
    margin-left: 17.5vw;
    margin-right: 17.5vw;

}

.odkaz {
    margin-top: 1.5vw;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    box-shadow: 0 6px 20px 0 gray;
    background-color: #F0EFEC;
    font-size: min(2vw, 20px);
    padding: 10px;
}

.odkaz a {
    color: black;
}

.odkaz li a:hover {
    color: black;
    text-decoration: underline;
    background-color: transparent;
}

.cenik {
    margin-top: 1.5vw;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    height: 100px;
    box-shadow: 0 6px 20px 0 gray;
    background-color: #F0EFEC;
    font-size: min(2vw, 20px);
}

.text {
    float: left;
    height: auto;
    max-width: 40vw;
    box-shadow: 0 6px 20px 0 gray;
    min-width: 40vw;
    font-size: min(2vw, 20px);
    background-color: #F0EFEC;
    text-align: center;
}

.udaje {
    float: right;
    height: auto;
    box-shadow: 0 6px 20px 0 gray;
    width: 22vw;
    font-size: min(2vw, 20px);
    background-color: #F0EFEC;
}

.udaje td {
    font-size: min(2vw, 20px);
}

.udaje table {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 7px;
}


.kontakt {
    margin-top: 15px;
    float: right;
    height: auto;
    box-shadow: 0 6px 20px 0 gray;
    width: 22vw;
    font-size: min(2vw, 20px);
    background-color: #F0EFEC;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.kontakt h5 {
    text-align: center;
}

.udaje p {
    text-align: center;
}

.udaje h5 {
    text-align: center;
    margin-top: 7px;
}

.aktuality {
    width: auto;
    padding: 10px;
    min-height: 327.5px;
}

.aktuality h5 {
    text-align: center;
}

.aktuality p {
    text-align: center;
}

.footer {
    height: 50px;
}

.ico_div {
    display: none;
}

@media screen and (max-width: 700px) {
    
    .god {
        margin-top: 1.5vw;
        margin-left: 10.5vw;
        margin-right: 10.5vw;
    }

    .text {
        margin: 0;
        float: none;
        height: auto;
        box-shadow: none;
        min-width: none;
        width: auto;
        max-width: none;
        font-size: 100%;
    }

    .aktuality { 
        float: none;
        margin-right:0;
        margin-left: 0;
        width:auto;
        border:0;
        /*border-bottom:2px solid #000;*/   
        box-shadow: 0 6px 20px 0 gray; 
        margin-bottom: 15px;
        
        /*box-shadow: none;*/
    }
   
    .aktuality h5 {
        text-align: center;
    }

    .udaje {
        float: none;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        /*box-shadow: none;*/
        width: auto;
        font-size: 100%;
        /*border-bottom:2px solid #000; */   

        box-shadow: 0 6px 20px 0 gray; 
        margin-bottom: 15px;
        padding-bottom: 7px;
        padding-top: 7px;
    }

    .udaje td {
        font-size: 90%;
    }

    .kontakt {
        margin-top: 0;
        float: none;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        /*box-shadow: none;*/
        width: auto;
        font-size: 100%;
        box-shadow: 0 6px 20px 0 gray; 
        margin-bottom: 15px;
    }

    .ico_div {
        background-color: #F0EFEC;
        display:block;
        float: none;
        margin-right:0;
        margin-left: 0;
        width:auto;
        border:0;
        box-shadow: 0 6px 20px 0 gray; 
        margin-bottom: 15px;
        padding: 10px;
        font-size: 100%;
    }

    .ico {
        display: none;
    }

    .nadpis {
        position: absolute;
        bottom: 35%;
        left: 25%;    
    }

    .nadpis p {
        font-size: 6vw;
    }

    .nadpis_tel {
        display: none;
    }

    ul {
        font-size: 3vw;
    }

    .odkaz {
        font-size: 2.5vw;
    }
}








